  html,
  body {
      height: 100%;
      margin: 20px;
      padding: 0;
  }
  
  #content {
      position: relative;
  }
  
  #canvas_view {
      position: absolute;
      left: 0;
      top: 0;
  }
  
  #data_view {
      position: absolute;
      left: 810px;
      top: 0;
      font-size: 26px;
  }